<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 配置文件 -->
		<add key="config" value="E:\Test\XML\updateconfig.xml"/>
		<!-- 服务器路径 -->
		<add key="serverURL" value="ftp://192.168.2.113/"/>
		<!-- 更新文件存放路径 -->
		<add key="updatePath" value="E:\Test\EXE"/>
		
	</appSettings>
</configuration>