<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 配置文件 -->
		<add key="config" value="E:\Test\updateconfig.xml"/>
		<!-- 服务器下载路径 -->
		<add key="serverURL" value="ftp://192.168.2.113/EXE"/>
		<!-- 更新文件存放路径 -->
		<add key="updatePath" value="E:\Test\EXE"/>
		
		<!-- 版本号 -->
		<add key="version" value="1"/>
		<!-- HASH -->
		<add key="hash" value="0"/>
		
	</appSettings>
</configuration>