<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 配置文件名称 -->
		<add key="config" value="updateconfig.xml"/>
		<!-- 服务器根目录路径 -->
		<add key="serverURL" value="ftp://192.168.0.104"/>
		<!-- 更新文件存放文件夹名称 -->
		<add key="updatePathName" value="EXE"/>
		<!-- 下载路径 -->
		<add key="serverDownloadURL" value=""/>
	</appSettings>
</configuration>